<!-- moved from wp theme head -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src='js/libs.js'></script>
<script src='js/colorpicker.js?ver=4.9.6'></script>

<noscript>Detected missing Javascript support. Certain website features will not operate correctly with Javascript disabled.</noscript>
<!-- moved from wp theme footer -->
<script src='js/underscore.min.js'></script>
<script src='js/jquery.blockUI.min.js'></script>
<script src='js/js.cookie.min.js'></script>
<script src='js/cart-fragments.min.js'></script>
<script src='js/main.js'></script>

