<!-- Google search meta tags begin -->
<meta name="description" content="Ателье Portnof. Пошив женской одежды, вечерних и повседневных платьев, блуз, юбок, брюк, костюмов, пальто а также посадка по фигуре , переделка и ремонт одежды">
<meta name="keywords" content="Portnof, ателье, пошив одежды, пошив платьев, пошив вечерних платьев, пошив повседневных платьев, пошив блуз, пошив юбок, пошив брюк, пошив костюмов, пошив пальто, посадка по фигуре, переделка одежды, ремонт одежды">
<meta property = "place:location:longitude" content = "36.232169">
<meta property = "place:location:latitude" content = "49.988448">
<meta property = "business:contact_data:country_name" content = "Украина">
<meta property = "business:contact_data:locality" content = "Харьков">
<meta property = "business:contact_data:street_address" content = "Площадь Конституции, 1, 4 подъезд, 4 этаж, офис 4402">
<meta property = "business:contact_data:phone_number" content = "+380935473293">
<meta property = "business:contact_data:website" content = "https://portnof.com.ua/">
<!-- Google search meta tags end -->