<!--HEADER -->
<header id="header">
    <div class="section-boxed section-header">
        <div id="logo-container">
            <a href="index.html"><img src="images/logo.png"" alt="Portnof"/></a>
        </div>
        <div class="mobile-nav">
            <span class="mob-nav-btn">Menu</span>
        </div>
        <nav class="navigation-container">
            <div id="menu" class="nav-menu">
                <ul id="menu-story-main-menu" class="menu-ul">
                    <li><a href="/index.html#2">О компании</a></li>
                    <li><a href="/index.html#3">Контакты</a></li>
                    <li><a href="/services.html">Услуги</a></li>
                    <li><a href="/portfolio.html">Портфолио</a></li>
                    <li><a href="/blog.html">Блог</a></li>
                </ul>
            </div>
            <div class="header-buttons">
                <div class="pex-woo-cart-btn-wrap">
                    <div class="pex-woo-cart-btn ">
                        <div class="pex-woo-cart-num" data-num="0">
                            0
                        </div>
                    </div>
                    <div class="pex-woo-cart-holder">
                        <div class="pex-woo-cart">
                            <p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>
                        </div>
                    </div>
                </div>
                <div class="social-profiles">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.instagram.com/portnof_atelier/" target="_blank" title="Portnof в Instagram">
                                <div>
                                   <img src="images/icons_white/instagram-logo.svg" alt="image description" />
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clear"></div>
        <div id="navigation-line"></div>
    </div>
</header><!-- end #header -->
