<!--HEADER -->
<header id="header">
    <div class="section-boxed section-header">
        <div id="logo-container">
            <a href="index.html"><img src="images/logo.png"" alt="Portnof"/></a>
        </div>
        <div class="mobile-nav">
            <span class="mob-nav-btn">Menu</span>
        </div>
        <nav class="navigation-container">
            <div id="menu" class="nav-menu">
                <ul id="menu-story-main-menu" class="menu-ul">
                    <li><a href="/index.html#2">О компании</a></li>
                    <li><a href="/index.html#3">Контакты</a></li>
                    <li><a href="/services.html">Услуги</a></li>
                    <li><a href="/portfolio.html">Портфолио</a></li>
                    <!--<li><a href="/blog.html">Блог</a></li>-->
                </ul>
            </div>
            <div class="header-buttons">               
                <div class="social-profiles">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.instagram.com/portnof_atelier/" target="_blank" title="Ателье Portnof в Instagram">
                                <div>
                                    <img src="images/instagram-logo.svg" alt="Instagram logo"/>
                                </div>
                            </a>
                        </li>                    
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clear"></div>
        <div id="navigation-line"></div>
    </div>
</header><!-- end #header -->
