<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Portnof</title>
<meta name="robots" content="index, follow">
<meta name="description" content="Portnof">
<!-- Mobile Devices Viewport Resset-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel='dns-prefetch' href='//maps.googleapis.com'/>
<link rel='dns-prefetch' href='//www.youtube.com'/>
<link rel='dns-prefetch' href='//fonts.googleapis.com'/>
<link rel='dns-prefetch' href='//s.w.org'/>
<link rel='stylesheet' id='pexeto-colorpicker-css-css' href='css/colorpicker.css' type='text/css' media='all'/>
<link rel='stylesheet' id='woocommerce-layout-css' href='css/woocommerce-layout.css' type='text/css' media='all'/>
<link rel='stylesheet' id='woocommerce-smallscreen-css' href='css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' id='math-captcha-frontend-css' href='css/frontend.css' type='text/css' media='all'/>
<link rel='stylesheet' id='wp-pagenavi-css' href='css/pagenavi-css.css' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-font-0-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C400italic%2C700&#038;ver=4.9.6' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-font-1-css' href='http://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;ver=4.9.6' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-font-2-css' href='http://fonts.googleapis.com/css?family=Abril+Fatface&#038;ver=4.9.6' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-font-3-css' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C300&#038;ver=4.9.6' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-font-4-css' href='http://fonts.googleapis.com/css?family=Oswald&#038;ver=4.9.6' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-font-5-css' href='http://fonts.googleapis.com/css?family=Old+Standard+TT%3A400%2C700&#038;ver=4.9.6' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-pretty-photo-css' href='css/prettyPhoto.css' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-woocommerce-css' href='css/woocommerce.css' type='text/css' media='all'/>
<link rel='stylesheet' id='pexeto-stylesheet-css' href='css/style.css' type='text/css' media='all'/>
<link rel='https://api.w.org/' href='http://pexetothemes.com/demos/story_wp/wp-json/'/>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pexetothemes.com/demos/story_wp/xmlrpc.php?rsd"/>
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://pexetothemes.com/demos/story_wp/wp-includes/wlwmanifest.xml"/>
<link rel="stylesheet" href="css/custom.css">

