<!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "LocalBusiness",
      "name" : "Ателье Portnof",
      "image" : "http://portnof.com.ua/images/logo.png",
      "telephone" : "+380 (93) 547-32-93",
      "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "Харьков, площадь Конституции, 1 4 подъезд, 4 этаж, офис 4402",
        "addressLocality" : "Харьков",
        "addressCountry" : "Украина"
      },
      "openingHoursSpecification" : {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : {
          "@type" : "DayOfWeek",
          "name" : "пн-сб"
        },
        "opens" : "Укажите допустимую дату и время по стандарту ISO 8601. Например: 2015-07-27 или 2015-07-27T15:30"
      }
    }
    </script>