<div id="content-container" class=" layout-full">
    <div id="full-width" class="content">
        <div class="fullpage-wrapper loading">
            <!-- slider section begin -->
            <div class="section section-text layout-lc" style="background-image:url(images/big_bg1.jpg);">
                <div class="section-content anim-el" data-titlecolor="ffffff"><h2 class="section-title" style="color:#ffffff;font-weight:bold;font-size:40px;">Ателье Portnof</h2>
                    <div class="section-desc" style="color:#ffffff;font-size:16px;">
                        <p>Пошив женской одежды, вечерних и повседневных платьев, блуз, юбок, брюк, костюмов, пальто а также посадка по фигуре , переделка и ремонт одежды</p>
                    </div>
                    <a style="background-color:#ca4c76;" href="/services.html" class="button">Узнать больше</a>
                </div>
                <span class="fullpage-scroll-arrow icon-arrow-down-2"></span>
            </div>
            <!-- slider section end -->
            <!-- slider section begin -->
            <div class="section section-text layout-cc" style="background-image:url(images/big_bg2.jpg);">
                <div class="section-content anim-el" data-titlecolor="ffffff"><h2 class="section-title" style="color:#ffffff;font-weight:bold;font-size:40px;">О компании</h2>
                    <div class="section-desc" style="color:#ffffff;font-size:16px;">
                        <p>Ателье Portnof специализируется на индивидуальном пошиве одежды под заказ. Мы создаем ваш неповторимый стиль, помогаем подчеркнуть достоинства вашей фигуры. 
                        В изготовление ваших вещей мы вкладываем всю душу, все наше мастерство, чтобы вы выглядели безупречно.  Наш девиз «качество прежде всего».
                        Это и отличает вашу уникальную заказную вещь от покупной, которая чаще всего сделана наспех и сидит не идеально. У нас вы получите только качественное изделие, точно сшитое по вашей фигуре, которое подчеркнет ваш стиль.
                        <br/><br/>Лучшее обслуживание, внимательное отношение к каждому клиенту, гибкая система скидок, бесплатные консультации по выбору ткани и фасона.<br/><br/>
                        А также ремонт всех видов и сложности ваших любимых вещей от маленькой дырочки до изменения фасона маминого пальто из сундука.</p>
                    </div>
                    <a style="background-color:#ee5170;" href="/services.html" class="button">Узнать больше</a></div>
            </div>
            <!-- slider section end -->
            <!-- slider section begin -->
            <div class="section section-text layout-lc contact-us">
                <div class="section-content anim-el" data-titlecolor="ffffff">
                    <div class="section-desc contacts">
                        <div class="box">
                            <h2 class="section-title">Контакты</h2>
                            <address>
                                <span>Харьков, Шевченковский район,</span>
                                <span>площадь Конституции, 1</span>
                                <span>4 подъезд, 4 этаж, офис 4402</span>
                            </address>
                            <h3>Время работы:</h3>
                            <dl class="schedule">
                                <dt>Пн - Пт:</dt>
                                <dd>11:00 - 19:00</dd>
                                <dt>Сб:</dt>
                                <dd>11:00 - 18:00</dd>
                                <dt>Вс:</dt>
                                <dd>Выходной</dd>
                            </dl>
                            <h3>Телефон:</h3>
                            <p class="tel"><a href="tel:+380935473293">+380 (93) 547-32-93 (Viber, Telegram)</a></p>
                            <p class="tel"><a href="tel:+380995431283">+380 (99) 543-12-83</a></p>
                        </div>
                    </div>
                </div>
                <div id="map"></div>
                <script>
                    function initMap() {
                        var coordinates = {lat: 49.988448, lng: 36.232169};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 17,
                            center: coordinates,
                            gestureHandling: 'none',
                            disableDefaultUI: true,
                        });
                        var marker = new google.maps.Marker({
                            position: coordinates,
                            map: map,
                            title: 'Portnof',
                            animation: google.maps.Animation.DROP
                        });
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQddtxRv93jU0mziIcsS8MsQAX8FBU7mc&callback=initMap"></script>
            </div>
            <!-- slider section end -->
            <!-- slider right navigation begin -->
            <div class="fullpage-data">
                <ul class="fullpage-nav"></ul>
            </div>
            <!-- slider right navigation end -->
        </div>
    </div> <!-- end main content holder (#content/#full-width) -->
    <div class="clear"></div>
</div> <!-- end #content-container -->
