@charset "utf-8";
/* inline styles from html file*/
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.fixed-header{
    .header-wrapper {
        padding-top: 106px !important;
    }
    &.fixed-header-scroll .header-wrapper {
        padding-top: 64px !important;
    }
}
.large-header .page-title-wrapper {
    min-height: 420px;
    height: 420px;
}
.page-id-1989 #header, .page-id-1989 #footer {
    display: none;
}
.page-id-1989 .page-subtitle {
    margin-bottom: 55px;
}
body > iframe {
    height: 0;
}
.page-template-template-fullscreen-slider-php .pexeto-style-switcher {
    display: none !important;
}
.share-item {
    background-image: url('../images/px_sprites_w.png');
}
#SGM {
    width: 100%;
    height: 300px;
}
#SGM .infoWindow {
    line-height: 13px;
    font-size: 10px;
}
#SGM input {
    margin: 4px 4px 0 0;
    font-size: 10px;
}
#SGM input.text {
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 2px;
}
.fixed-header-scroll #logo-container {
    margin-top: 0 !important;
}
/* fix for content columns (pg-page-wrapper > pg-item) */
.pg-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    > .pg-item {
        display: block;
    }
}
/* custom styles */
.post-title a {
    transition: 0.5s ease;
}
/* contact us landing section */
.contact-us {
    position: relative;
    .contacts {
        font-size: 18px;
        color: #fff;
        max-width: 400px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: rgba(0,0,0,0.5);
        z-index: 2;
        @media only screen and (max-width: 767px) {
            height: 95px;
        }
    }
    .section-content {
        position: relative;
        z-index: 3;
        padding-left: 0;
        .box {
            padding: 40px;
            background: rgba(0,0,0,0.5);
            border-radius: 5px;
            @media only screen and (max-width: 767px) {
                padding: 20px;
            }
        }
    }
    #map {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        border: 0;
        z-index: 1;
    }
    h2,
    h3{
        margin: 0;
        padding-bottom: 5px !important;
        font-size: 40px;
        color: #fff;
    }
    h3 {
        font-size: 28px;
    }
    .schedule {
        margin: 0 0 15px;
        overflow: hidden;
        dt {
            clear: left;
            float: left;
            min-width: 70px;
            font-weight: normal;
        }
        dd {
            margin: 0;
            padding-left: 15px;
            display: block;
            overflow: hidden;
        }
    }
    address {
        display: block;
        margin: 0 0 15px;
        span {
            display: block;
        }
    }
    .tel {
        padding-bottom: 10px;
    }
    a {
        color: #fff;
        transition: color .3s ease;
        position: relative;
        &:after {
            transition: all .2s ease;
            position: absolute;
            bottom: -5px;
            left: 50%;
            overflow: hidden;
            margin-left: 0;
            width: 0;
            height: 0;
            background: #fff;
            content: '';
            text-indent: -999em;
            border-radius: 7px;
        }
        &:hover {
            color: rgba(255,255,255,.8);
            &:after {
                height: 2px;
                width: 40px;
                margin-left: -20px;
                margin-top: -2px;
            }
        }
    }
}